{% include "header.html" %}
<html>
	<head>
		<title>
		About Us
		</title>
		<link  type="text/css" rel="stylesheet" href="/static/css/bootstrap.css"  media="all">
		<script type="text/javascript" src="/static/js/jquery.js"></script>
		<script src="/static/js/bootstrap.js" charset="utf-8"></script>		
	</head>
	
	<body>
	<div class = "Jumbotron">
		<p>
		<h3>
		Hello Guys!<br>
		This simple web application can calculate SI and CI .<br>
		This is a practical implementation of my Flask learning<br>
		I will be adding more features to it soon !<br>
		</h3>
		</p>
	</div>
	</body>
</html>
