{% include "header.html" %}
<html>
	<head>
		<title>
		CI Result
		</title>
		<link  type="text/css" rel="stylesheet" href="/static/css/bootstrap.css"  media="all">
		<script type="text/javascript" src="/static/js/jquery.js"></script>
		<script src="/static/js/bootstrap.js" charset="utf-8"></script>		
	</head>
	
	<body>
		<div class="jumbotron">
			<div class="container">
				<h2><b>Compound Interest Calculator</b></h2>
			</div>
		</div>
		<div class="container">
		<div class="col-md-8">
			<table class="table table-hover">
				<tbody>
					<tr>
					  <th colspan="2" class="bg-danger">Investment Summary</th>  
					</tr>
					<tr>
					  <th class="bg-success">Amount Invested</th>
					  <td class="table-warning">{{p}}</td>	  
					</tr>
					<tr>
					  <th class="bg-success">Rate of Interest</th>
					  <td class="table-warning">{{r}}</td>	  
					</tr>
					<tr>
					  <th class="bg-success">No. of Years</th>
					  <td class="table-warning">{{t}}</td>	  
					</tr>
					<tr>
					  <th class="bg-success">Compounded</th>
					  <td class="table-warning">{{n}} Times per Year</td>	  
					</tr>
					<tr>
					  <th class="bg-success">Interest Earned</th>
					  <td class="table-warning">{{ci}}</td>	  
					</tr>
					<tr>
					  <th class="bg-success">Maturity Amount</th>
					  <td class="table-warning">{{amount}}</td>	  
					</tr>					
				</tbody>
			</table>
			<a href="{{ url_for('ci') }}" class="btn btn-primary btn-lg btn-block">Calculate CI Again</a>
		</div>
		</div>
	</body>
</html>
