{% include "header.html" %}
<html>
	<head>
		<title>
		Simple Interest
		</title>			
	</head>
	
	<body>
		<div class="jumbotron">
			<div class="container">
				<h2><b>Simple Interest Calculator</b></h2>
			</div>
		</div>
		<div class = "container">
			<div class="col-md-4">
				<div class="form-group">
					<form method='post' action = '/calculatesi'>
						<b>Amount</b>
						<input type = 'number' name='amount' class="form-control" required/><br>
						<b>Years</b>
						<input type = 'number' name='years' class="form-control" required/><br>
						<b>Rate</b>
						<input type = 'number' name='rate' class="form-control" required/><br>
						<button type = 'Submit' class="btn btn-success">Calculate</button>
					</form>	
				</div>
			</div>
		</div>
	<body>
</html>


				